<template>
<article id="about">
    <div class="row justify-content-between">
        <div class="col-md-5 mt-md-5">
            <div class="text-menu">
                <h1 class="title-home">WHAT IS BEST?</h1>
                <p class="text-home"><strong>Bootcamp Engineer for Squad & Tribe </strong> initiated by
                    Investree is a program that provides an excellent and comprehensive short-term study session
                    for young graduate people who crave new experiences and tech-career journeys</p>
                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#detailBest">SEE
                    DETAIL</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="picture-menu">
                <img :src="`${logo.link}`" :height="`${logo.height}`">
            </div>
        </div>
    </div>
</article>
</template>

<script>
export default {
    name: 'home-about',
    data(){
        return{
            logo: {
                link: "/homepage/image/logo-best.png",
                height: "384"
            }
        }
    }
}
</script>