<template>
<div class="home-app">
    <home-navbar />
    <div class="container">
        <about />
        <require />
        <role />
    </div>
    <home-footer />
    <detail-best />
    <form-regis />
</div>
</template>

<script>
import HomeNavbar from '../../components/home/HomeNavbar.vue'
import About from '../../pages/home/About.vue'
import Require from '../../pages/home/Require.vue'
import Role from '../../pages/home/Role.vue'
import HomeFooter from '../../components/home/HomeFooter.vue'
import DetailBest from '../../components/home/DetailBest.vue'
import FormRegis from '../../components/home/FormRegis.vue'

export default{
    components:{
        HomeNavbar,
        About,
        Require,
        Role,
        HomeFooter,
        DetailBest,
        FormRegis
    },
    name: 'home'
}
</script>