<template>
<article id="require">
    <div class="title-head">what BEST needed?</div>
    <div class="text-home text-center">We are looking for the young and bright people who are:</div>
    <div class="row justify-content-center mt-md-4">
        <div class="col-md-7">
            <div class="card-require hover-zoom-effect" v-for="(item, index) in items">
                <div class="ket-require"><span class="title-require">0{{ ++index }}</span> {{ item.message }}</div>
            </div>
        </div>
        <div class="col-md-5">
            <img :src="`${logo.link}`" :height="`${logo.height}`">
        </div>
    </div>
</article>
</template>

<script>
export default {
    name: 'require',
    data(){
        return{
            items:[
                {message: "University graduates of information System/Information Technology"},
                {message: "If you are in your 20s & ambitious. We want you!"},
                {message: "Excellent communicator, you need to be able your great ideas to be hard"},
                {message: "Intellectually curious and creative problem solver. We craving for those!"},
                {message: "We believe with attitude, agile, and relentless optimism can make person improve"}
            ],
            logo: {
                link: "/homepage/image/req-icon.png",
                height: "384"
            }
        }
    }
}
</script>