<template>
<article id="role">
    <div class="title-head">career roles</div>
    <div class="row justify-content-center mt-md-4">
        <div class="col-md-4" v-for="item in items">
            <div class="card-role hover-zoom-effect">
                <div class="img-role"><img :src="`${item.image.link}`" :height="`${item.image.height}`"></div>
                <div class="text-role">{{ item.role }}</div>
            </div>
        </div>
    </div>
</article>
</template>

<script>
export default{
    name: 'role',
    data(){
        return {
            items:[
                {
                    image: {
                        link: "homepage/image/icon1.webp",
                        height: "126"
                    },
                    role:"Fullstack Engineer"
                },
                {
                    image: {
                        link: "homepage/image/icon2.png",
                        height: "126"
                    },
                    role:"Quality Assurance"
                },
                {
                    image: {
                        link: "homepage/image/icon3.png",
                        height: "126"
                    },
                    role:"Product Owner"
                },
                {
                    image: {
                        link: "homepage/image/icon4.png",
                        height: "126"
                    },
                    role:"Product Manager"
                },
                {
                    image: {
                        link: "homepage/image/icon5.webp",
                        height: "126"
                    },
                    role:"Data Engineer"
                },
                {
                    image: {
                        link: "homepage/image/icon6.png",
                        height: "126"
                    },
                    role:"Data Scientist"
                },
            ]
        }
    }
}
</script>