:root {
    --col1: #25316D;
    --col2: #5F6F94;
    --col3: #97D2EC;
    --col4: #8cc63c;
}

* {
    box-sizing: border-box;
}

.main-sidebar,
.control-sidebar {
    background-color: var(--col2);
}

.content-wrapper .card-header .card-title,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_filter label {
    color: white;
}

table.dataTable {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.content-wrapper .card {
    background-color: var(--col4);
}

.nav-sidebar .nav-item {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav-treeview .nav-item {
    margin-bottom: 0;
}

.nav-sidebar .nav-item .nav-link {
    color: var(--col3);
}

.nav-sidebar .nav-item .nav-link:hover {
    color: var(--col3);
    font-weight: bold;
}

.user-panel .info a {
    color: white;
}

.user-panel .info a:hover {
    color: white;
    font-weight: bold;
}
