<template >
    <div v-if="pagename == 'home'">
        <home></home>
    </div>
    <div v-else-if="pagename == 'admin'">
        <admin></admin>
    </div>
</template>

<script>
import Admin from './pages/admin/Admin.vue'
import Home from './pages/home/Home.vue'


export default{
    props: {
        pagename: String
    },
    components:{
        Admin,
        Home
    },
    name: 'app'
}
</script>