<template>
<div class="modal fade" id="detailBest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Best</h5>
            </div>
            <div class="modal-body">
                <p>BEST aims to create a new generation of 1Investree and create many future leaders along with
                    Investree's Experts in technology for strengthening the tribes and also supporting SMEs and people
                    through a seamless and easy experience. #EveryoneCanGrow with Investree</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default{
    name: 'detail-best'
}
</script>