<template>
<div class="modal fade" id="modalregister" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalregisterLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register Form</h5>
            </div>
            <div class="modal-body overflow-auto" style="height: 400px;">
                <!-- <form action="{{ route('register.create') }}" id="form-regis" method="POST"> -->
                    <!-- @csrf -->
                    <h3>Your Profile</h3>
                    <hr>
                    <div class="mb-3">
                        <label for="fisrtname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fisrtname" name="firstname"
                            placeholder="Input your first name" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"
                            placeholder="Input your last name" required>
                    </div>
                    <div class="mb-3">
                        <label for="birth_date" class="form-label">Date Of Birth</label>
                        <input type="date" class="form-control" id="birth_date" name="birth_date"
                            placeholder="Input your birth date" required>
                    </div>
                    <div class="mb-3">
                        <label for="education" class="form-label">Education</label>
                        <select class="form-select" name="education" id="education" required>
                            <option selected>Select Your Education</option>
                            <option value="associate">Associate Degree</option>
                            <option value="bachelor">Bachelor's Degree</option>
                            <option value="master">Master's Degree</option>
                            <option value="doctoral">Doctoral's Degree</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="major" class="form-label">Major</label>
                        <select class="form-select" name="major" id="major" required>
                            <option selected>Select Your Major</option>
                            <option value="TI">Informatic Engineering</option>
                            <option value="SI">Information System</option>
                            <option value="SK">Computer System</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select" name="role" id="role" required>
                            <option selected>Select Your Role</option>
                            <option value="FE">Fullstack Engineer</option>
                            <option value="QA">Quality Assurance</option>
                            <option value="PO">Product Owner</option>
                            <option value="PM">Product Manager</option>
                            <option value="DE">Data Engineer</option>
                            <option value="DS">Data Scientist</option>
                        </select>
                    </div>
                    <h3>Your Account</h3>
                    <hr>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Input your email" name="email"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" aria-describedby="pass"
                            placeholder="Input your password" name="password" required>
                        <div id="pass" class="form-text">We'll protect your data and privacy</div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm" placeholder="Input again your password"
                            name="password_confirmation" required>
                    </div>
                <!-- </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="form-regis">Submit</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default{
    name: 'form-regis'
}
</script>