<template>
<footer>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="img-footer"><img :src="`homepage/image/logo-best.png`" :height="`80`"></div>
        </div>
    </div>
</footer>
</template>

<script>
export default{
    name: 'home-footer'
}
</script>