<template>
<nav class="navbar navbar-expand-lg navbar-light mt-4">
    <div class="container">
        <a class="navbar-brand" href="https://investree.id/">
            <img :src="`homepage/image/logo-investree.webp`" :width="`150`">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="#about">About BEST</a>
                <a class="nav-item nav-link" href="#require">Requirement</a>
                <a class="nav-item nav-link" href="#role">Role</a>
                <a class="nav-item nav-link" id="register" data-bs-toggle="modal"
                    data-bs-target="#modalregister">Register Here</a>
            </div>
        </div>
    </div>
</nav>
</template>

<script>
export default {
  name: 'home-navbar'
}
</script>
