<template>
<div class="admin-app">
    <admin-navbar />
    <admin-sidebar />
</div>
</template>
<script>
import AdminNavbar from '../../components/admin/AdminNavbar.vue'
import AdminSidebar from '../../components/admin/AdminSidebar.vue'
export default{
    components:{
        AdminNavbar,
        AdminSidebar
    },
    name: 'admin'
}
</script>