@font-face {
    font-family: 'roboto';
    src: url('font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --col1: #25316D;
    --col2: #5F6F94;
    --col3: #97D2EC;
}

* {
    box-sizing: border-box;
}

article {
    margin-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    font-size: 16px;
    background-image: url('../image/background.jpg');
    background-size: cover;
}

.hover-zoom-effect {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.hover-zoom-effect:hover {
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}

/*NAVBAR*/
nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--col1) !important;
}

nav a:hover {
    color: var(--col3) !important;
}

.nav-item {
    margin: 10px;
}

#register {
    background-color: var(--col2);
    color: #FEFFDE !important;
    border-radius: 5px;
    cursor: pointer;
}

/*HOME*/
.text-menu {
    flex-basis: 50%;
}

.picture-menu {
    flex-basis: 50%;
    text-align: end;
}

.title-home {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--col1);
}

.text-home {
    margin-top: 20px;
    line-height: 2;
    color: var(--col3);
}

.button {
    margin-top: 30px;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--col2);
    color: #FEFFDE !important;
}

.title-head {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--col1);
    text-align: center;
    font-size: 24px;
}

/*REQUIRE*/
.card-require {
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.title-require {
    color: var(--col1);
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 5px;
}

.ket-require {
    color: var(--col3);
    font-size: 13px;
}

/*ROLE*/
.card-role {
    padding: 30px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 50px;
}

.text-role {
    color: var(--col1);
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
}

.img-role {
    text-align: center;
}

/*FOOTER*/
footer {
    margin-top: 180px;
    background-color: var(--col2);
    height: 100px;
    padding: 0px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-footer {
    margin-top: 10px;
    text-align: center;
}

/*ARROW*/
a.arrow {
    text-decoration: none;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.scrollup {
    padding: 20px;
    background-color: var(--col3);
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}
